.container{
  margin-top: 5%;
}

.leaflet-container {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 400px;
}

.search-bar {
  margin: 20px;
  text-align: center; 
}

.search-bar input {
  width: 75%
}

.video-item img {
  max-width: 64px; 
}

 .details {
  margin-top: 10px;
  padding: 10px; 
  border: 1px solid #ddd;
  border-radius: 4px; 
  
}

.list-group-item{
  cursor: pointer; 
}

.list-group-item:hover {
  background-color: #eee; 
}

.exercise-container{
  display: flex;
}

.video-container{
  position: relative !important;
  height: 75% !important;
  margin-right: 5%;
  margin-left: 5%;
  
 
}

.iframe-special{
  height: 75% !important;
}

.even{
  background-color: lightgrey;
}

.videoList{
  display: flex;
  justify-content: space-around;
}