.container{
  margin-top: 5%;
}

.leaflet-container {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 400px;
}

.search-bar {
  margin: 20px;
  text-align: center; 
}

.search-bar input {
  width: 75%
}

.video-item img {
  max-width: 64px; 
}

 .details {
  margin-top: 10px;
  padding: 10px; 
  border: 1px solid #ddd;
  border-radius: 4px; 
  
}

.list-group-item{
  cursor: pointer; 
}

.list-group-item:hover {
  background-color: #eee; 
}

.exercise-container{
  display: flex;
}

.video-container{
  position: relative !important;
  height: 75% !important;
  margin-right: 5%;
  margin-left: 5%;
  
 
}

.iframe-special{
  height: 75% !important;
}

.even{
  background-color: lightgrey;
}

.videoList{
  display: flex;
  justify-content: space-around;
}

.parent {
  display: flex;
}
.narrow {
  width: 380px;
  background: lavender;
  margin: 5px;
  border-radius: 7px;
  padding: 10px;
}
.wide {
  width: 800px;
}
.player-container{
  width: 32px;
  overflow: hidden;
  margin: 5px;
  border-radius: 7px;
}

.text-container{
  margin-top:13px;
  width: 360px;
}

.reminder {
  display: -webkit-inline-box;
}

.header-text{
  margin-left: 5px;
  font-weight: 600;
  color: #006699;
  font-size: 22px;
  text-align: -webkit-center;
}

.sub-text{
  font-weight: bold;
  font-size: 13px;
  color: cornflowerblue;
  margin-left: 5px;
}